#reservation, #annulation, #calendar {
    border: 3px #766f52 solid;
    border-radius: 10px;
    margin: 0px;
    margin-top: 5px;
}

#reservation, #annulation {
    background-color: #77f3f8;
}

#reservation:hover, #annulation:hover, #calendar:hover {
    background-color: #42d453;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
form {
    margin:5px;
    padding:2px;
}
.info {
    font-size: 0.8em;
    font-style: italic;
}